@tailwind base;
@tailwind components;

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

.base-input {
    @apply border-b-2 border-gray-300 outline-none focus:border-gray-600;
}

.success-input {
    @apply border-2 border-green-300 w-full;
}

.success {
    @apply border border-gray-300 bg-green-600 text-white p-2 block;
}

.error {
    @apply block bg-red-500 text-white;
}
#label{
    @apply text-4xl font-serif text-blue-900;
  }

#input{
    @apply bg-gray-400 flex h-4 w-72;
  }


@tailwind utilities;
